<section class="hero-tech">
  <div class="overlay">
    <div class="content">
      <span class="badge">Innovación Digital</span>
      <h1>Impulsando el Futuro con <span>Angular</span></h1>
      <p>Construimos soluciones escalables y modernas para la era de la inteligencia artificial y el desarrollo cloud.</p>
      <div class="actions">
        <button class="btn-primary" (click)="accionBoton()">Ver Proyectos</button>
        <button class="btn-secondary">Saber más</button>
         <button class="bg-blue-600 text-white px-4 py-2 rounded-full hover:bg-blue-700">
          ¡Botón Tailwind v3 listo!
        </button>
      </div>
    </div>
  </div>
</section>

