# --- Dependencias ---
node_modules/
backend/venv/
backend/env/
backend/generated/
backend/dist/
frontend/node_modules/
frontend/dist/

# --- Variables de Entorno (¡Sensible!) ---
.env
.env.local

# --- Archivos de Compilación ---
generated/
dist/
build/
*.pyc
__pycache__/

# --- Sistema y Editores ---
.vscode/
.idea/
.DS_Store
*.log

