<nav class="navbar-private">
  <div class="api-status">
    <ng-container *ngIf="isApiOk$ | async as token; else desconectado">
      <span style="color: green;">● Conectado</span>
    </ng-container>

    <ng-template #desconectado>
      <span style="color: red;">○ Desconectado</span>
    </ng-template>
  </div>
  
  <div class="user-actions">
    <span *ngIf="userName$ | async as name">
      Bienvenido, {{ name }}
    </span>
    <button (click)="logout()" class="btn-logout">Cerrar Sesión</button>
  </div>
</nav>
