<section class="page-container">
  <div class="contact-card">
    <h2>CONTÁCTANOS</h2>
    <p>Cuéntanos tu proyecto y hagámoslo realidad.</p>
    <div class="container" *ngIf="contactoForm">
      <form  [formGroup]="contactoForm" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <input type="text" formControlName="name" placeholder="Nombre completo">
        </div>
        
        <div class="form-group">
          <input type="email" formControlName="email" placeholder="Correo electrónico">
        </div>
        
        <div class="form-group">
          <select formControlName="subject">
            <option value="" disabled selected>Tipo de Proyecto</option>
            <option>Telemetría</option>
            <option>Desarrollo Web</option>
            <option>Infraestructura</option>
          </select>
        </div>

        <div class="form-group">
          <textarea formControlName="message" placeholder="Cuéntanos un poco más..."></textarea>
        </div>

        <button type="submit" class="btn-submit">ENVIAR MENSAJE</button>
      </form>
    </div>
  </div>
</section>

