.layout-container {
  display: grid;
  height: 100vh;
  /* Definimos las áreas para PC por defecto */
  grid-template-areas: 
    "sidebar navbar"
    "sidebar content";
  grid-template-columns: 250px 1fr; /* Ancho fijo para sidebar */
  grid-template-rows: auto 1fr;     /* Navbar ajusta a su contenido */
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: navbar;
}

.main-wrapper {
  display: contents; /* Desactiva el contenedor para que hijos sigan el grid padre */
}

.content-area {
  grid-area: content;
  overflow-y: auto; /* Scroll solo para el contenido */
}

.sidebar-overlay {
  display: none; /* Oculto por defecto */
}

/* --- AJUSTES PARA CELULAR --- */
@media (max-width: 768px) {
 .layout-container {
    /* El contenido ahora ocupa todo el ancho porque el sidebar flotará */
    grid-template-areas: 
      "navbar"
      "content";
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed; /* Lo sacamos del flujo del grid */
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;    /* Ancho deseado para el menú móvil */

    background-color: #1a1a2e;

    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
        
    visibility: hidden; 
    pointer-events: none; 
    
    transform: translateX(-100%);
    transition: transform 0.3s ease, visibility 0.3s;
    z-index: 2000;
  }

  /* Clase para abrir el sidebar al pulsar el botón */
  .sidebar.is-active {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  /* El contenido ocupa todo el espacio disponible debajo del navbar */
  .content-area {
    grid-area: content;
  }

  .sidebar-overlay.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscurecido */
    z-index: 1500; /* Por debajo del sidebar (2000) pero sobre el contenido */
  }
}

