.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 260px;
  background: #f4f4f4;
  transition: all 0.3s ease;
}


.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita scroll doble */
}

.content-area {
  flex: 1;
  overflow-y: auto; /* Solo el contenido hace scroll */
  padding: 1.5rem;
}

/* --- Ajustes para Móvil --- */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -260px; /* Escondido */
    height: 100%;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0; /* Clase para mostrarlo */
  }

  .main-wrapper {
    width: 100%;
  }
}
